.insured-list {
  &__search {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    justify-content: space-between;

    &__button {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
  &__list {
    width: 100%;
    overflow: auto;
    min-height: 600px;
  }
}
